*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
}

#property-info{
    width: 60%;
    margin-left: 19%;
    padding : 20px 20px;
}
    #property-info > *{
        margin: 10px 20px;
    }

    #property-info > h2{
        font-size: 30px;
    }
    #property-info > h3{
        font-size: 15px;
        font-weight: 300;
    }
    #property-info > p{
        font-size: 15px;
        font-weight: 100;
    }
    #property-info > img{
        height: 300px;
        border-radius: 20px;
    }